.calendar {
    padding: 0 1rem 1rem 1rem;
}

.calendar__dotw {
    display: flex;
    justify-content: space-evenly;
}

.calendar__week {
    display: flex;
    justify-content: space-evenly;
}
.calendar__day {
    background-color: white;
    border: none;
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
}

.calendar__hidden {
    visibility: hidden;
}

.calendar__selected {
    background-color: lightskyblue;
    border-radius: 50%;
}

.calendar__double-selected {
    border: 2px solid $default-font-color;
}
