.calendar-input {
    grid-column: 1;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    border: $default-border-settings;
    border-radius: 5px 0 0 5px;
    @include date-input-box-shadow;
}

.calendar-input__icon {
    width: 1.3rem;
    height: 1.3rem;
}

.calendar-input__dates {
    padding-left: 1rem;
    font-family: $default-font-family;
}
