.date-range-bar {
    width: 20rem;
    height: 2.5rem;
    display: grid;
    grid-template-columns: $date-range-bar-columns;
    margin: 1.5rem 0 1.3rem 0;
    @media only screen and (max-width: $mobile-screen-max-width) {
        padding: 0% 5%;
    }
}

.date-range-bar__button {
    background-color: $primary-color;
    border: $default-border-settings;
    border-radius: 0 5px 5px 0;
    @include date-input-box-shadow;
}

.date-range-bar__search-icon {
    padding: 0;
    width: 1.2rem;
    height: 1.2rem;
}
