.result-display {
    display: block;
    border-bottom: 1px solid lightgrey;
    font-family: Helvetica;
    color: $result-display-color;
    font-weight: bold;
}

.result-display__count {
    font-size: 1.5rem;
}
