.result-display {
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: $default-border-settings;

    color: $header-text-color;
    font-size: 0.9rem;
    font-weight: bold;
}

.result-display__count {
    font-size: 1.25rem;
}
