.result-display {
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: $default-border-settings;

    color: $header-text-color;
    font-size: 0.9rem;
    font-weight: bold;

    @media only screen and (max-width: $mobile-screen-max-width) {
        padding: 0 0 0.5rem 5%;
    }
}

.result-display__count {
    font-size: 1.25rem;
}
