$default-font-color: #343434;
$result-display-color: #666666;
$top-bar-color: #f5f5f5;
$date-column-color: #333333;
$link-color: #093bde;
$multiple-email-indicator-color: #888888;
$border-color: #e1e1e1;
